<!DOCTYPE html>
<html>
	<head>
		<title>Your Trip to <%= @trip.city.name %></title>
	<head>

	<body>
		<h1><strong>Trip to <%= @trip.city.name %></strong></h1>
		<h4><i>Created by <%= @trip.user.email %></i></h4>
		<div class='container-fluid'>
			<div class='row-fluid'>
				<div class='col-md-2'></div>

				<div class='col-md-4'>
					<p><%= image_tag(@trip.city.image, size: "340x236") %></p>
				</div>

				<div class='col-md-4'>
					<br /><p class='lead', style='font-size: 100%', align='left'><%= @trip.city.info %></p>
				</div>
				<div class='col-md-2'></div>
			</div>
		</div>

		

		
		<h1><strong>Trip Attractions</strong></h1>
		<p class='lead'>Below you'll find all the attractions associated with this trip. Click the Yelp link if you'd like more info.</p>
		<% count = 1 %>
		<% if @attractions.nil? != true %>
			<% @attractions.each do |attraction| %>
				<div class = 'container-fluid'>
					<div class='row-fluid'>
						<% if count == 1 %>
							<div class = 'col-md-2'></div>
							<div class ='col-md-2 text-center'>
								<h1><strong>Name</strong></h1>
								<p><strong><%= attraction.name %></strong></p>
							</div>

							<div class = 'col-md-2 text-center'>
								<h1><strong>Yelp</strong></h1>
								<p><%= link_to 'More Info', attraction.url, :target => "_blank", class: "btn btn-info btn-sm" %></p>
							</div>

							<div class = 'col-md-2 text-center'>
								<h1><strong>Category</strong></h1>
								<p><%= attraction.description %></p>
							</div>

							<div class = 'col-md-2 text-center'>
								<h1><strong>Delete?</strong></h1>
								<% if @trip.user == @user %>
									<p><%= link_to 'Delete Attraction', attraction_path(id: attraction, trip_id: @trip.id), method: :delete, class: "btn btn-danger btn-sm" %></p>
								<% else %>
									<p>N/A</p>
								<% end <%>
							</div>

							<div class = 'col-md-2'></div>
						<% else %>x
							<div class='col-md-2'></div>

							<div class='col-md-2'>
								<p><strong><%= attraction.name %></strong></p>
							</div>
							
							<div class='col-md-2'>
								<p><%= link_to 'More Info', attraction.url, :target => "_blank", class: "btn btn-info btn-sm" %></p>
							</div>

							<div class='col-md-2'>
								<p><%= attraction.description %></p>
							</div>

							<div class='col-md-2'>
								<% if @trip.user == @user %>
									<p><%= link_to 'Delete Attraction', attraction_path(id: attraction, trip_id: @trip.id), method: :delete, class: "btn btn-danger btn-sm" %></p>
								<% else %>
									<p>N/A</p>
								<% end <%>
							</div>

							<div class='col-md-2'></div>
						<% end %>
					</div>
				</div>
				<% count += 1 %>
			<% end %><br />
		<% end %>

		<% if @trip.user == @user %>
			<h1><strong>Search New Attractions</strong></h1>
			<p class='lead'>Enter an attraction, restaurant, bar, etc. you would like to search for in the box below.</p>
			<%= form_tag attraction_search_path, method: 'GET' do %>
				<p><%= text_field_tag :term, params[:term] %></p>
				<p><%= hidden_field_tag :trip_id, @trip.id %></p>
				<div class="form-group">
			  		<%= submit_tag "Search Attractions", class: "btn btn-success btn-sm" %>
				</div>
			<% end %>
		<% else %>
			<p></p>
		<% end %><br />
		

		
		
		<h1><strong>User Comments</strong></h1>
		<p class='lead'>Type  comments you would like to leave for this trip in the box below.</p>
		<% comment_count = 1 %>
		<% if @comments.nil? != true %>
		<% @comments.each do |comment| %>
			<div class = 'container-fluid'>
					<div class='row-fluid'>
						<% if comment_count == 1 %>
							<div class = 'col-md-2'></div>
							<div class ='col-md-4 text-center'>
								<p><strong><%= comment.body %></strong></p>
								<p>  - <i><%= comment.user.email %></i></p>
							</div>

							<div class = 'col-md-4 text-center'>
								<% if @trip.user == @user || @user.email == 'christopher.servidio@gmail.com' || comment.user == @user %>
									<p><%= link_to 'Delete Comment', comment_path(id: comment, trip_id: @trip.id), method: :delete, class: "btn btn-danger btn-sm" %></p>
								<% else %>
									<p>N/A</p>
								<% end <%>
							</div>
							<div class = 'col-md-2'></div>
						<% else %>
							<div class = 'col-md-2'></div>
							<div class ='col-md-4 text-center'>
								<p><strong><%= comment.body %></strong></p>
								<p>  - <i><%= comment.user.email %></i></p>
							</div>

							<div class = 'col-md-4 text-center'>
								<% if @trip.user == @user || @user.email == 'christopher.servidio@gmail.com' || comment.user == @user %>
									<p><%= link_to 'Delete Comment', comment_path(id: comment, trip_id: @trip.id), method: :delete, class: "btn btn-danger btn-sm" %></p>
								<% else %>
									<p>N/A</p>
								<% end <%>
							</div>
							<div class = 'col-md-2'></div>
						<% end %>
					</div>
				</div>
				<% comment_count += 1 %>
			<% end %>
		<% end %>

		<%= form_for Comment.new, comments_path => {method: 'POST'} do |f| %>
			<p><%= f.text_area :body %></p>
			<p><%= f.hidden_field :trip_id, :value => @trip.id %></p>
			<div class="form-group">
		  		<%= f.submit "Leave Comment", class: "btn btn-success btn-sm" %>
			</div>
		<% end %><br />
		

		<p><%= link_to 'Home', root_path, class: "btn btn-danger btn-md" %></p>

		
	</body>

	<footer>
		<br /><p> - URBAN NOMAD 2015 - Powered by Yelp </p>
	</footer>
</html>