<!DOCTYPE html>
<html>
	<head>
		<title>Urban Nomad - Attraction Search</title>
	</head>

	<body>
		<div class='container-fluid'>
			<div class='row-fluid'>
				<div class='col-md-2'></div>
				<div class='col-md-8'>
					<h1><strong><%= @term %> in <%= @city %></strong></h1>
					<h3 class = 'lead'>Below you will find the name, Yelp link and category of the top 20 attractions in your search. Click the 'Add Attraction' button to add attraction to your trip. Click the Yelp link for more information. Click the back button to return to the previous page. <u>NOTE:</u> If you don't see any results below, well... you clearly searched for something that does not exist in <%= @city %>. Click the back button to try again.</h3>
				</div>
				<div class='col-md-2'></div>
			</div>
		</div>
			<% count = 1 %>

				<% @output.each do |attraction| %>
					<div class = 'container-fluid'>
						<div class = 'row-fluid'>
							<% if count == 1 %>
								<div class = 'col-md-2'></div>
								<div class ='col-md-2'>
									<h1><strong>Attraction</strong></h1>
									<p><%= count %>. <%= attraction["name"] %></p>
								</div>

								<div class = 'col-md-2'>
									<h1><strong>Yelp</strong></h1>
									<p><%= link_to 'More Info', attraction["url"], :target => "_blank", class: 'btn btn-info btn-sm' %></p>
								</div>

								<div class = 'col-md-2'>
									<h1><strong>Category</strong></h1>
									<% if attraction["categories"].nil? != true %>
										<p><%= attraction["categories"].first.first %></p>
									<% else %>
										<p>N/A</p>
									<% end %>
								</div>

								<div class = 'col-md-2'>
									<h1><strong>Add?</strong></h1>
									<% if attraction["categories"].nil? != true %>
										<p><%= link_to 'Add Attraction', new_attraction_path(name: attraction["name"], trip_id: @trip_id, description: attraction["categories"].first.first, url: attraction["url"]), class: "btn btn-success btn-sm" %></p>
									<% else %>
										<p><%= link_to 'Add Attraction', new_attraction_path(name: attraction["name"], trip_id: @trip_id, description: "N/A", url: attraction["url"]), class: "btn btn-success btn-sm" %></p>
									<% end %>
								</div>
								<div class = 'col-md-2'></div>
							<% else %>
								<div class = 'col-md-2'></div>

								<div class = 'col-md-2'>
									<p><%= count %>. <%= attraction["name"] %></p>
								</div>

								<div class = 'col-md-2'>
									<p><%= link_to 'More Info', attraction["url"], :target => "_blank", class: 'btn btn-info btn-sm' %></p>
								</div>

								<div class = 'col-md-2'>
									<% if attraction["categories"].nil? != true %>
										<p><%= attraction["categories"].first.first %></p>
									<% else %>
										<p>N/A</p>
									<% end %>
								</div>

								<div class = 'col-md-2'>
									<% if attraction["categories"].nil? != true %>
										<p><%= link_to 'Add Attraction', new_attraction_path(name: attraction["name"], trip_id: @trip_id, description: attraction["categories"].first.first, url: attraction["url"]), class: "btn btn-success btn-sm" %></p>
									<% else %>
										<p><%= link_to 'Add Attraction', new_attraction_path(name: attraction["name"], trip_id: @trip_id, description: "N/A", url: attraction["url"]), class: "btn btn-success btn-sm" %></p>
									<% end %>
								</div>

								<div class = 'col-md-2'></div>
							<% end %>
						</div>
					</div>
					<% count += 1 %>
				<% end %>

				<br /><p><%= link_to 'Back', trip_path(@trip_id), class: "btn btn-danger btn-md" %></p>
	</body>

	<footer>
		<br /><p> - URBAN NOMAD 2015 - Powered by Yelp </p>
	</footer>
</html>
